DATABASE_URL="file:./dev.db"

NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="run: openssl rand -base64 32"

# Razorpay test keys from https://dashboard.razorpay.com
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""
NEXT_PUBLIC_RAZORPAY_KEY_ID=""

ADMIN_EMAIL="admin@tandoorflame.test"
ADMIN_PASSWORD="admin1234"
